<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Acebook開発環境</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="top.scss">
</head>
<body>
  <section class="main-header">
    <p class="flash"><%= notice %><%= alert %></p>
    <img src="<%= asset_path "acebook.png" %>">
  </section>
</body>
</html>
