<h2>お知らせ</h2>
<ul>
  <% @notifications.each do |notification| %>
  <hr>
    <li>
      <span class="notificationofread">
        <% if notification.read == false %>
        <span>未読</span>
        <% else %>
        <span>既読</span>
        <% end %>
      </span>
      <p>
        <%= notification.comment.user.try(:name) %>さんが
        あなたのトピック（<%= link_to "#{notification.comment.topic.content}", topic_path(notification.comment.topic, notification_id: notification.id) %>）にコメントしました。
      </p>
      <p><%= notification.created_at %></p>
    </li>
  <% end %>
</ul>
